<nav>
  <ul>
    <li class="dropdown">
      <a class="dropbtn">E-hub</a>
      <div class="dropdown-content">
        <a href="/ehub/director" >Director/President</a>
        <a href="/ehub/story" >Story of Founding E-hub</a>
        <a href="/ehub/working" >Working of E-hub</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Startups</a>
      <div class="dropdown-content">
        <a href="/startup/idea_stage" >Idea Stage</a>
        <a href="/startup/development_stage" >Development Stage</a>
        <a href="/startup/expansion_stage" >Expansion Stage</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Events</a>
      <div class="dropdown-content">
        <a href="/events/business_motivation" >Business Motivation</a>
        <a href="/events/startup_summit" >Startup Summit</a>
        <a href="/events/startup_festival" >Startup Festival</a>
        <a href="/events/monthly_events" >Regular Monthly Events</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Careers</a>
      <div class="dropdown-content">
        <a href="/careers/jobs" >Jobs</a>
        <a href="/careers/internships" >Internship</a>
        <a href="/careers/projects" >Project </a>
      </div>
    </li >
    <li class="dropdown">
      <a href="/contactus" class="dropbtn">Enquiry</a>
    </li>
    <li class="dropdown">
      <a href="/contactus" class="dropbtn">Contact Us</a>
    </li>
  </ul>
</nav>