<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="refresh" content="5;url=./home">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<script>
		document.documentElement.className = 'js';
	</script>
	<script src="js/segment.min.js"></script>
	<script src="js/d3-ease.v0.6.js"></script>
	<script src="js/letters.js"></script>
</head>
<body class="demo-1" >
	<div class="container">
		<section class="content">
			<ul class="list">
				<li class="list__item color-11">
					<h3 class="list__text">EHUB</h3>
					<h2 class="h2">GITAM HYDERABAD</h2>
				</li>

			</ul>
		</section>
	</div>
	<script src="js/demo-1.js"></script>
</body>
</html>